* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.home {
  background: #24292e;
  position: relative;
  width: 100%;
  text-align: center;
}
.about {
  background: #1f2428;
}
.skill {
  background: #24292e;
  text-align: center;
}
.work {
  background: #1f2428;
}
.bg_hero {
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg_hero svg {
  fill: rgba(0, 0, 0, 0.075);
  z-index: -1;
}
.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 0;
}
.intro_section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro {
  width: 100%;
  position: relative;
}
.intro h1 {
  font-size: 3rem;
  color: #dfe3e8;
  font-family: "Recursive", sans-serif;
  animation: textup 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes textup {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.intro h2 {
  font-size: 3.5rem;
  color: #dfe3e8;
  font-family: "Montserrat", sans-serif;
  animation: textup 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-weight: normal;
}
.intro h3 {
  font-size: 2.8rem;
  color: #919eab;
  font-family: "Montserrat", sans-serif;
  animation: textup 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.profile_image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 200px;
  height: 200px;
  margin: 3rem 0;
  position: relative;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(-20px 2px 1px rgba(0, 0, 0, 0.2));
}
.about_intro {
  text-align: center;
  color: #919eab;
  font-size: 2.1rem;
  font-family: "Montserrat", sans-serif;
}

.about_me {
  width: 60%;
  margin: auto auto;
}
.about_me p {
  color: rgb(246, 246, 246);
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-size: 1.1rem;
  line-height: 180%;
  text-align: left;
  margin-top: 2rem;
}
.social_link {
  width: 60%;
  margin: auto auto;
  margin-top: 30px;
}
.tech_proficiency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 0;
  overflow: hidden;
}
.icons_box {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 15px;
}
.icons_box img {
  width: 70px;
}
.node_js {
  border: 1px dashed #597658;
}

.react_js {
  border: 1px dashed #8cc5d3;
}

.mongo_db {
  border: 1px dashed #5e7e5a;
}

.javascript {
  border: 1px dashed #b3b372;
}

.laravel {
  border: 1px dashed #eb8376;
}
.html {
  border: 1px dashed #ca8058;
}
.css {
  border: 1px dashed #5686a1;
}
.bootstrap {
  border: 1px dashed #75609b;
}
.php {
  border: 1px dashed #6e81b6;
}
.mysql {
  border: 1px dashed #304e4c;
}
.btn_group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background: transparent;
  color: rgb(246, 246, 246);
  outline: none;
  border: 2px solid #8739fa;
  letter-spacing: 2px;
  padding: 0.8rem 5rem;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.5s;
  z-index: 2;
  margin-left: 10px;
}
.btn_primary {
  background: #8739fa;
}
.btn_primary_outline:hover {
  background: #8739fa;
}
.btn_primary:hover {
  background: #751ef7;
}
.my_work {
  display: grid;
  margin: 2rem 0;
  overflow: hidden;
  grid-template-columns: auto auto auto;
}

.card {
  width: 350px;
  height: 400px;
  background: #24292e;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding:1.2rem;
  box-shadow: 0 0 10px rgba(0,0,0 ,0.30);
  cursor:pointer;
  position: relative;
}
.card_image {
  width: 100%;
  height: 180px;
  position: relative;
}
.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  /* filter: drop-shadow(-10px -10px 1px rgba(0, 0, 0, 0.2)); */
}
.card_title{
  text-align:center;
  margin:1rem 0;
  color: #919eab;
  letter-spacing:1px;
  font-size:1rem;
}
.project_info p{
 color: rgb(246, 246, 246);
}
.card_footer{
  width:50%;
  padding:1rem 0;
  position:absolute;
  bottom:0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_link{
  width:40px;
  height:40px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  box-shadow: 0 0 10px rgba(0,0,0 ,0.30);
 
}
.social_link svg{
  fill:#c9c642;
}
.social_link:nth-child(1){
  margin-right:10px;
}
@media only screen and (max-width: 768px) {
  .btn {
    padding: 0.8rem 2.4rem;
    font-size: 14px;
  }
  .intro h1 {
    font-size: 2.2rem;
  }
  .intro h2 {
    font-size: 1.6rem;
  }
  .intro h3 {
    font-size: 1.6rem;
  }
  .about_me {
    width: 100%;
    margin: auto auto;
    overflow: hidden;
  }
  .about_intro h3 {
    font-size: 1.6rem;
  }
  .bg_hero {
    width: 100%;
  }
  .my_work {
    grid-template-columns: auto;
  }
}
